[theme="dark"] {
    /* Basic colors */
    --background-color: #0d1117;
    --primary-text-color: #FFF;

    /* Color Scheme */
    --primary-color: #b0b0b0;
    --accent-color: rgb(68, 68, 68);

    /* Header */
    --header-color: #b05703;
    --header-hover-color: #cd8900;
    --header-text-color: #FFF;
    --header-theme-toggle-text-color: #000;

    /* Tiles */
    --tile-background-color: #272727;
    --tile-shadow-color: rgba(0, 0, 0, 0.15);

    /* Tables */
    --table-header-background-color: var(--accent-color);
    --table-header-text-color: #FFF;
    --table-body-text-color: var(--primary-text-color);
    --table-odd-row-background: #302f2f;
    --table-even-row-background: #202020;
    --table-row-border-color: #414141;
    --table-shadow-color: rgba(0, 0, 0, 0.15);

    /* Comments */
    --comment-color: #c3c3c3;

    /* Buttons */
    --submit-button-color: green;
    --submit-button-text-color: #FFF;
    --reset-button-color: rgb(156, 0, 0);
    --reset-button-text-color: #FFF;

    /* Material Design Colors */
    --md-sys-color-primary: rgb(172, 96, 3);
    --md-sys-color-secondary-container: #e69533;
    --md-sys-color-on-error-container: #ff0000;

    /* Material Design Neutrals */
    --md-sys-color-on-surface: var(--primary-text-color);
    --md-sys-color-surface-container: #333;
    --md-sys-color-on-surface-container: #FFF;
    --md-sys-color-primary-container: #383838;
    --md-sys-color-on-primary-container: #FFF;
    --md-sys-color-surface-container-low: #383737;
    --md-sys-color-on-surface-container-low: #FFF;
    --md-sys-color-on-surface-variant: #999;
    --md-sys-color-outline: #888;
}