[theme="light"] {
    /* Basic colors */
    --background-color: #dfdfdf;
    --primary-text-color: #000;

    /* Color Scheme */
    --primary-color: #b0b0b0;
    --accent-color: rgb(68, 68, 68);

    /* Header */
    --header-color: #b05703;
    --header-hover-color: #cd8900;
    --header-text-color: #FFF;
    --header-theme-toggle-text-color: #000;

    /* Tiles */
    --tile-background-color: #FFF;
    --tile-shadow-color: rgba(0, 0, 0, 0.15);

    /* Tables */
    --table-header-background-color: var(--accent-color);
    --table-header-text-color: #FFF;
    --table-body-text-color: var(--primary-text-color);
    --table-odd-row-background: #FFF;
    --table-even-row-background: #f3f3f3;
    --table-row-border-color: #dddddd;
    --table-shadow-color: rgba(0, 0, 0, 0.15);

    /* Comments */
    --comment-color: #c3c3c3;

    /* Buttons */
    --submit-button-color: green;
    --submit-button-text-color: #FFF;
    --reset-button-color: rgb(156, 0, 0);
    --reset-button-text-color: #FFF;

    /* Material Design Colors */
    --md-sys-color-primary: rgb(172, 96, 3);
    --md-sys-color-secondary-container: #ffcd90;
    --md-sys-color-error: #ff0000;
    --md-sys-color-on-error-container: #d00202;

    /* Material Design Neutrals */
    --md-sys-color-on-surface: var(--primary-text-color);
    --md-sys-color-surface-container: #f9efe3;
    --md-sys-color-primary-container: #f7f2fa;
    --md-sys-color-outline: #666;

}